bgLeft = #00a86b
bgRight = #6f5499

.jumbotron
    background-color bgRight
    background-image -webkit-gradient(linear, left top, left bottom, from(bgLeft), to(bgRight))
    background-image -webkit-linear-gradient(top, bgLeft 0%, bgRight 100%)
    background-image -o-linear-gradient(top, bgLeft 0%, bgRight 100%)
    background-image linear-gradient(to right, bgLeft 0%, bgRight 100%)
    
.jumbotron h1, .jumbotron p
    color white
    
.jumbotron p a
    color: white
    border-bottom 1px dotted white
    
form input
    margin-right: 15px
    margin-left: 15px;
    
