doctype html
html  
  head
    title Timestamp API
  body
    h1 timestamp API
    p
        | This is a timestamp API built for a 
        a(href = 'https://www.freecodecamp.com/') FreeCodeCamp
        |  project.