extends default.pug

block content
  .jumbotron
    .container
      h1.display-3 Timestamp API
      p
        |This is a timestamp API built for a 
        a(href = 'https://www.freecodecamp.com/') 
          i.fa.fa-free-code-camp
          |  FreeCodeCamp
        |  project. It accepts queries containing a Unix timestamp (1488501712)
        | or natural date (March 1, 2017), and returns a JSON object
        | containing both the natural date and Unix timestamp.
          
  .container
    h2 Example usage:
    p
      code https://timestamp-codecamp.herokuapp.com/March%201,%202017
    p
      code https://timestamp-codecamp.herokuapp.com/1488501712
      
    h2 Example output:
    p
      code { "unix": 1488501712, "natural": "March 1, 2017" }
          
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js',
       integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn',
       crossorigin='anonymous')